## Python Crash Course

### Numerical operations, strings, common functions, and methods

#### Numerical operations

In [1]:
# Addition
1+1

2

In [2]:
# Subtraction
1-1

0

In [3]:
# Division
1/1

1.0

In [4]:
# Multiplication
1*3

3

In [5]:
# Raising a number to a power
3**3

27

In [6]:
# Getting the remainder
9%2

1

#### Strings

In [7]:
greeting = 'Hello'
print(f"{greeting} world!")

Hello world!

In [8]:
# String concatenation
question = 'What are you studying?'
answer = 'Data Science'
print(question + ' ' + answer)

What are you studying? Data Science

In [9]:
type(question)

str

In [10]:
len(question)

22

In [11]:
print(answer[0])
print(answer[2])
print(answer[5])
print(answer[-1])

D
t
S
e

#### String methods

In [12]:
answer.upper()

'DATA SCIENCE'

In [13]:
answer.lower()

'data science'

In [14]:
answer.capitalize()

'Data science'

In [15]:
answer.title()

'Data Science'

In [16]:
answer.swapcase()

'dATA sCIENCE'

In [17]:
answer.find('t')

2

In [18]:
index = answer.find('Science')

In [19]:
answer[index:]

'Science'

In [20]:
greeting = "Hello there, how are you today?"

In [21]:
greeting[::-1]

'?yadot uoy era woh ,ereht olleH'

In [22]:
"".join(reversed(greeting))

'?yadot uoy era woh ,ereht olleH'

In [23]:
### Lists, tuples
l1 = [1, 2, 3]
l2 = [1, 'hello', 'test', 2.6]
print(l1[0])

1

In [24]:
# Add an element to a list
l1.append(4)

In [25]:
l1

[1, 2, 3, 4]

In [26]:
# Remove the last element of the list
l1.pop()

4

In [27]:
# Insert a certain element in a certain position
l1.insert(4,2)

In [28]:
l1

[1, 2, 3, 2]

In [29]:
# Reverse the contents of the list
l1[::-1]

[2, 3, 2, 1]

In [30]:
# reverse the contents of the list in place
l1.reverse()

In [31]:
l1

[2, 3, 2, 1]

In [32]:
# Sort the list
l1.sort()

In [33]:
l1

[1, 2, 2, 3]

In [34]:
# Get the minimum and maximum values
min(l1)
max(l1)

3

#### Tuples

These are object collections like lists but they are _immutable_

In [35]:
t1 = (1, 2, 3)

In [36]:
t1[0]

1

In [37]:
t1[-1]

3

#### Sets

These are object collections where the elements are unique. Unlike tuples, sets are _mutable_

In [38]:
s1 = {1, 2, 3, 4, 4}

In [39]:
s1

{1, 2, 3, 4}

In [40]:
s1.add(5)

In [41]:
s1.remove(5)

#### Dictionaries

In [42]:
d1 = {'fruit':'banana', 'vegatable':'sprout'}

In [43]:
d1['fruit']

'banana'

In [44]:
d1.keys()

dict_keys(['fruit', 'vegatable'])

In [45]:
d1.values()

dict_values(['banana', 'sprout'])

In [46]:
'banana' in d1.values()

True

In [47]:
'banana' in d1.keys()

False

In [48]:
'banana' not in d1.keys()

True

#### Booleans

In [49]:
1 == 1

True

In [50]:
1 != 1

False

In [51]:
1 >= 1

True

In [52]:
1 <= 1

True

In [53]:
1 == 1 & 2 ==1

False

In [54]:
1 == 1 & 2 == 2

False

In [55]:
1 == 1 | 2 == 2

False

In [56]:
# Get the opposite of the boolean 
not(1==1)

False

In [57]:
## Decision making (if/else statements)
if 1 == 1:
    print("Hello world!")

Hello world!

In [58]:
if 1 != 1:
    print('They are not equal')
else:
    print('The numbers are equal')

The numbers are equal

In [59]:
if 1 != 1:
    print('They are not equal')
else:
    print('The numbers are equal')

The numbers are equal

In [60]:
x = 1

if x == 0:
    print(f"{x} is 0")
elif x == 1:
    print(f"{x} is 1")
else:
    print(f"{x} is not defined")

1 is 1

## Importing data

### Pandas Data Structures Overview

### Series

In [61]:
import pandas as pd
s = pd.Series([1,2,3,4,5,6,7])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [62]:
# Creating and index
index = ['Monday', 'Tuesday','Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
index
s = pd.Series([1,2,3,4,5,6,7], index=index)
s

Monday       1
Tuesday      2
Wednesday    3
Thursday     4
Friday       5
Saturday     6
Sunday       7
dtype: int64

In [63]:
# Basic operations on Series
print(s + s)
print(s * 3)
print(s ** 2)

Monday        2
Tuesday       4
Wednesday     6
Thursday      8
Friday       10
Saturday     12
Sunday       14
dtype: int64
Monday        3
Tuesday       6
Wednesday     9
Thursday     12
Friday       15
Saturday     18
Sunday       21
dtype: int64
Monday        1
Tuesday       4
Wednesday     9
Thursday     16
Friday       25
Saturday     36
Sunday       49
dtype: int64

### Dataframes

In [64]:
pd.DataFrame([1,2,3,4])

   0
0  1
1  2
2  3
3  4

In [65]:
df = pd.DataFrame({'a': [1,2,3,4], 'b':[5,6,7,8]})

In [66]:
df

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [67]:
df['b'].median()

6.5

In [68]:
df['b'].mean()

6.5

### Loading data from external datasources

In [69]:
import pandas as pd
superpowers = pd.read_csv('/Users/chlazaris/Desktop/Python-for-Data-Analysis-step-by-step-with-projects--main/superhero_powers.csv')

In [70]:
superpowers.head()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [71]:
superpowers.tail()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
662,Yellowjacket II,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
663,Ymir,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
664,Yoda,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
665,Zatanna,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
666,Zoom,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [72]:
superpowers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Columns: 168 entries, hero_names to Omniscient
dtypes: bool(167), object(1)
memory usage: 114.1+ KB

In [73]:
superpowers.describe()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
count,667,667,667,667,667,667,667,667,667,667,...,667,667,667,667,667,667,667,667,667,667
unique,667,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,3-D Man,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,1,425,489,656,642,620,410,541,590,455,...,653,651,665,658,666,666,666,665,665,665

In [74]:
hero_dc = pd.read_excel('/Users/chlazaris/Desktop/Python-for-Data-Analysis-step-by-step-with-projects--main/superhero_info.xlsx', sheet_name='DC Comics')

In [75]:
hero_dc.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [76]:
hero_marvel = pd.read_excel('/Users/chlazaris/Desktop/Python-for-Data-Analysis-step-by-step-with-projects--main/superhero_info.xlsx', sheet_name='Marvel Comics')

In [77]:
hero_marvel.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203,Marvel Comics,good,441
1,Abomination,Male,green,Human / Radiation,No Hair,203,Marvel Comics,bad,441
2,Abraxas,Male,blue,Cosmic Entity,Black,-99,Marvel Comics,bad,-99
3,Absorbing Man,Male,blue,Human,No Hair,193,Marvel Comics,bad,122
4,Agent 13,Female,blue,-,Blond,173,Marvel Comics,good,61

In [78]:
hero_marvel.tail()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
383,X-Man,Male,blue,-,Brown,175,Marvel Comics,good,61
384,Yellow Claw,Male,blue,-,No Hair,188,Marvel Comics,bad,95
385,Yellowjacket,Male,blue,Human,Blond,183,Marvel Comics,good,83
386,Yellowjacket II,Female,blue,Human,Strawberry Blond,165,Marvel Comics,good,52
387,Ymir,Male,white,Frost Giant,No Hair,305,Marvel Comics,good,-99

In [79]:
hero_marvel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        388 non-null    object
 1   Gender      388 non-null    object
 2   Eye color   388 non-null    object
 3   Race        388 non-null    object
 4   Hair color  388 non-null    object
 5   Height      388 non-null    int64
 6   Publisher   388 non-null    object
 7   Alignment   388 non-null    object
 8   Weight      388 non-null    int64
dtypes: int64(2), object(7)
memory usage: 27.4+ KB

In [80]:
# Return the column names
hero_marvel.columns

Index(['name', 'Gender', 'Eye color', 'Race', 'Hair color', 'Height',
       'Publisher', 'Alignment', 'Weight'],
      dtype='object')

In [81]:
# Return the rows
hero_marvel.index

RangeIndex(start=0, stop=388, step=1)

In [82]:
hero_marvel.size

3492

In [83]:
hero_marvel.shape

(388, 9)

In [84]:
# Get the types of the columns for hero_marvel
hero_marvel.dtypes

name          object
Gender        object
Eye color     object
Race          object
Hair color    object
Height         int64
Publisher     object
Alignment     object
Weight         int64
dtype: object

In [85]:
# Export the data
hero_dc.to_csv('hero_dc_csv.csv')
hero_marvel.to_csv('hero_marvel_csv.csv')
hero_dc.to_pickle('hero_dc_pickle.pkl')
hero_marvel.to_pickle('hero_dc_marvel.pkl')

## Exploring Data

In [86]:
import pandas as pd

### Merging dataframes

In [87]:
left = pd.DataFrame({'col1':[1,2,3,4,5], 'col2':['a','b','c','d','e']})

In [88]:
left

   col1 col2
0     1    a
1     2    b
2     3    c
3     4    d
4     5    e

In [89]:
right = pd.DataFrame({'col1':[3,4,5,6,7], 'col3':['f','g','h','i','j']})

In [90]:
right

   col1 col3
0     3    f
1     4    g
2     5    h
3     6    i
4     7    j

In [91]:
# Inner join
inner_join = pd.merge(left, right, on='col1', how='inner')

In [92]:
inner_join

   col1 col2 col3
0     3    c    f
1     4    d    g
2     5    e    h

In [93]:
# Outer join
outer_join = pd.merge(left, right, on='col1', how='outer')

In [94]:
outer_join

   col1 col2 col3
0     1    a  NaN
1     2    b  NaN
2     3    c    f
3     4    d    g
4     5    e    h
5     6  NaN    i
6     7  NaN    j

In [95]:
# Left join
left_join = pd.merge(left, right, on='col1', how='left')

In [96]:
left_join

   col1 col2 col3
0     1    a  NaN
1     2    b  NaN
2     3    c    f
3     4    d    g
4     5    e    h

In [97]:
# Right join
right_join = pd.merge(left, right, on='col1', how='right')

In [98]:
right_join

   col1 col2 col3
0     3    c    f
1     4    d    g
2     5    e    h
3     6  NaN    i
4     7  NaN    j

### Getting columns and changing their names

In [99]:
hero_dc = pd.read_pickle('/Users/chlazaris/Documents/Scripts/pandas/hero_dc_pickle.pkl')

In [100]:
hero_dc.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [101]:
hero_dc.columns

Index(['name', 'Gender', 'Eye color', 'Race', 'Hair color', 'Height',
       'Publisher', 'Alignment', 'Weight'],
      dtype='object')

In [102]:
hero_dc.columns = hero_dc.columns.str.title()

In [103]:
hero_dc.columns

Index(['Name', 'Gender', 'Eye Color', 'Race', 'Hair Color', 'Height',
       'Publisher', 'Alignment', 'Weight'],
      dtype='object')

In [104]:
# This is how we select a certain column (e.g. the 'Name' column)
hero_dc['Name']

0               Abin Sur
1           Adam Strange
2             Alan Scott
3      Alfred Pennyworth
4                  Amazo
             ...
210             Wildfire
211          Wonder Girl
212         Wonder Woman
213              Zatanna
214                 Zoom
Name: Name, Length: 215, dtype: object

In [105]:
# This is how we select multiple columns
hero_dc[['Name','Race']]

                  Name      Race
0             Abin Sur   Ungaran
1         Adam Strange     Human
2           Alan Scott         -
3    Alfred Pennyworth     Human
4                Amazo   Android
..                 ...       ...
210           Wildfire         -
211        Wonder Girl  Demi-God
212       Wonder Woman    Amazon
213            Zatanna     Human
214               Zoom         -

[215 rows x 2 columns]

In [106]:
# This is how we select columns of a certain type (e.g. numeric)
hero_dc.select_dtypes('number')

     Height  Weight
0       185    90.0
1       185    88.0
2       180    90.0
3       178    72.0
4       257   173.0
..      ...     ...
210     -99     NaN
211     165    51.0
212     183    74.0
213     170    57.0
214     185    81.0

[215 rows x 2 columns]

In [107]:
# This is how we select all the other columns (not numeric)
hero_dc.select_dtypes(exclude = 'number')

,Name,Gender,Eye Color,Race,Hair Color,Publisher,Alignment
0,Abin Sur,Male,blue,Ungaran,No Hair,DC Comics,good
1,Adam Strange,Male,blue,Human,Blond,DC Comics,good
2,Alan Scott,Male,blue,-,Blond,DC Comics,good
3,Alfred Pennyworth,Male,blue,Human,Black,DC Comics,good
4,Amazo,Male,red,Android,-,DC Comics,bad
...,...,...,...,...,...,...,...
210,Wildfire,Male,-,-,-,DC Comics,good
211,Wonder Girl,Female,blue,Demi-God,Blond,DC Comics,good
212,Wonder Woman,Female,blue,Amazon,Black,DC Comics,good
213,Zatanna,Female,blue,Human,Black,DC Comics,good
214,Zoom,Male,red,-,Brown,DC Comics,bad

In [108]:
# A way to convert the column names to uppercase
hero_dc.columns = hero_dc.columns.str.upper()

In [109]:
# Another way to convert the column names to uppercase
hero_dc.rename(mapper=str.upper, axis=1) # This can be also applied to the index (rows) using axis=0

,NAME,GENDER,EYE COLOR,RACE,HAIR COLOR,HEIGHT,PUBLISHER,ALIGNMENT,WEIGHT
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0
...,...,...,...,...,...,...,...,...,...
210,Wildfire,Male,-,-,-,-99,DC Comics,good,NaN
211,Wonder Girl,Female,blue,Demi-God,Blond,165,DC Comics,good,51.0
212,Wonder Woman,Female,blue,Amazon,Black,183,DC Comics,good,74.0
213,Zatanna,Female,blue,Human,Black,170,DC Comics,good,57.0
214,Zoom,Male,red,-,Brown,185,DC Comics,bad,81.0

### Selecting certain rows using loc and iloc

In [110]:
hero_dc.head()

,NAME,GENDER,EYE COLOR,RACE,HAIR COLOR,HEIGHT,PUBLISHER,ALIGNMENT,WEIGHT
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [111]:
hero_dc = hero_dc.set_index('NAME')

In [112]:
hero_dc.head()

,GENDER,EYE COLOR,RACE,HAIR COLOR,HEIGHT,PUBLISHER,ALIGNMENT,WEIGHT
NAME,,,,,,,,
Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [113]:
hero_dc.loc[['Abin Sur','Adam Strange', 'Alan Scott']]

,GENDER,EYE COLOR,RACE,HAIR COLOR,HEIGHT,PUBLISHER,ALIGNMENT,WEIGHT
NAME,,,,,,,,
Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0

In [114]:
hero_dc.loc['Abin Sur':'Alan Scott']

,GENDER,EYE COLOR,RACE,HAIR COLOR,HEIGHT,PUBLISHER,ALIGNMENT,WEIGHT
NAME,,,,,,,,
Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0

In [115]:
hero_dc.iloc[0]

GENDER             Male
EYE COLOR          blue
RACE            Ungaran
HAIR COLOR      No Hair
HEIGHT              185
PUBLISHER     DC Comics
ALIGNMENT          good
WEIGHT             90.0
Name: Abin Sur, dtype: object

In [116]:
# Be careful when using loc vs. iloc
# loc includes first and last entry
# iloc includes the first entry but not the last one
hero_dc.iloc[0:3]

,GENDER,EYE COLOR,RACE,HAIR COLOR,HEIGHT,PUBLISHER,ALIGNMENT,WEIGHT
NAME,,,,,,,,
Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0

### Subsetting of dataframes

In [117]:
# Select the first three rows and three columns using loc
hero_dc.loc['Abin Sur':'Alan Scott','GENDER':'RACE']

             GENDER EYE COLOR     RACE
NAME
Abin Sur       Male      blue  Ungaran
Adam Strange   Male      blue    Human
Alan Scott     Male      blue        -

In [118]:
# Select the first three rows and three columns using iloc
hero_dc.iloc[0:3,0:3]

             GENDER EYE COLOR     RACE
NAME
Abin Sur       Male      blue  Ungaran
Adam Strange   Male      blue    Human
Alan Scott     Male      blue        -

### Modifying values

In [168]:
import pandas as pd

In [169]:
hero_dc = pd.read_pickle('/Users/chlazaris/Documents/Scripts/pandas/hero_dc_pickle.pkl')

In [170]:
hero_dc.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [171]:
# Add the race to Alan Scott
hero_dc.loc[2, 'Race'] = 'Unknown'

In [172]:
hero_dc.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,Unknown,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [173]:
# We could do the same using iloc
hero_dc.iloc[2,3] = '-'

In [174]:
hero_dc.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [175]:
# What if we wanted to change all - to Unknown
hero_dc['Race'] == '-'

0      False
1      False
2       True
3      False
4      False
       ...
210     True
211    False
212    False
213    False
214     True
Name: Race, Length: 215, dtype: bool

In [176]:
hero_dc.loc[hero_dc['Race'] == '-', 'Race'] = 'Unknown'

In [177]:
hero_dc[hero_dc['Race'] == 'Unknown']

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
2,Alan Scott,Male,blue,Unknown,Blond,180,DC Comics,good,90.0
7,Aquababy,Male,blue,Unknown,Blond,-99,DC Comics,good,NaN
12,Atom,Male,blue,Unknown,Red,178,DC Comics,good,68.0
13,Atom,Male,-,Unknown,-,-99,DC Comics,good,NaN
14,Atom Girl,Female,black,Unknown,Black,168,DC Comics,good,54.0
...,...,...,...,...,...,...,...,...,...
204,Triplicate Girl,Female,purple,Unknown,Brown,168,DC Comics,good,59.0
205,Two-Face,Male,-,Unknown,-,183,DC Comics,bad,82.0
208,Warp,Male,brown,Unknown,Black,173,DC Comics,bad,67.0
210,Wildfire,Male,-,Unknown,-,-99,DC Comics,good,NaN
214,Zoom,Male,red,Unknown,Brown,185,DC Comics,bad,81.0

In [178]:
# Select a certain column
hero_dc['Publisher']

0      DC Comics
1      DC Comics
2      DC Comics
3      DC Comics
4      DC Comics
         ...
210    DC Comics
211    DC Comics
212    DC Comics
213    DC Comics
214    DC Comics
Name: Publisher, Length: 215, dtype: object

In [191]:
# Add a column
def bmi(w, h):
    # bmi = weight (kg)/height (m)^2
    bmi = w/(h/100)**2
    return bmi

hero_dc['BMI'] = bmi(hero_dc['Weight'], hero_dc['Height'])

In [192]:
hero_dc.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight,BMI
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0,26.296567
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0,25.712199
2,Alan Scott,Male,blue,Unknown,Blond,180,DC Comics,good,90.0,27.777778
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0,22.724403
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0,26.192675

In [194]:
hero_dc['Weight']/(hero_dc['Height']/100)**2

0      26.296567
1      25.712199
2      27.777778
3      22.724403
4      26.192675
         ...
210          NaN
211    18.732782
212    22.096808
213    19.723183
214    23.666910
Length: 215, dtype: float64

In [195]:
# Creating a dataframe copy
hero_dc_copy = hero_dc.copy()